@import url("reset.css");

body {
    color: #2c2b2b; /* text color */
    font-family: "OpenSans", sans-serif;
    font-size: 12px;
    background-image: url("../img/bg.jpg");
    height: 100%;
}

.container {
    background-image: url("/img/container_bg.png");
    margin: auto;
    min-height: 100%;
    width: 1068px;
}

header {
    height: 130px;
    width: 1060px;
}

.logo {
    background-image: url("/img/logo.png");
    height: 40px;
    width: 145px;
    position: relative;
    left: 51px;
    top: 45px;
    cursor: pointer;
}

nav {
    height: 40px;
    width: 966px;
    background-color: #fff; /* layer fill content */
    background-image: url("/img/panel.png"); /* gradient overlay */
    background-image: -moz-linear-gradient(bottom, #434343 0%, #5e5e5e 100%); /* gradient overlay */
    background-image: -o-linear-gradient(bottom, #434343 0%, #5e5e5e 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, #434343 0%, #5e5e5e 100%); /* gradient overlay */
    background-image: linear-gradient(bottom, #434343 0%, #5e5e5e 100%); /* gradient overlay */

    /*background-image: url("/img/panel.png");*/
    margin: 0 51px;
}

aside {
    width: 260px;
    height: auto;
    float: left;
    /*background-color: gainsboro;*/
    margin-left: 51px;
}

.list {
    width: 240px;
    height: 240px;
    border: 1px solid #c8c8c8; /* stroke */
    background-color: #fff; /* layer fill content */
    margin-top: 40px;
    float: left;
}

section {
    width: 704px;
    height: auto;
    float: right;
    /*background-color: gray;*/
    margin-right: 51px;
}

.image {
    width: 680px;
    height: 400px;
    background-image: url("/img/im.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #c7c7c7;
    float: right;
    margin-top: 40px;
}

article {
    width: 656px;
    /*background-color: #c7c7c7;*/
    position: static;
    float: right;
    margin-top: 30px;
    line-height: 2;
}

footer {
    height: 40px;
    width: 966px;
    /*background-image: url("/img/footer.png");*/
    background-color: #fff; /* layer fill content */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* color overlay + gradient overlay */
    background-image: -moz-linear-gradient(bottom, #e1e1e1 0%, #e1e1e1 100%); /* color overlay + gradient overlay */
    background-image: -o-linear-gradient(bottom, #e1e1e1 0%, #e1e1e1 100%); /* color overlay + gradient overlay */
    background-image: -webkit-linear-gradient(bottom, #e1e1e1 0%, #e1e1e1 100%); /* color overlay + gradient overlay */
    background-image: linear-gradient(bottom, #e1e1e1 0%, #e1e1e1 100%); /* color overlay + gradient overlay */
    margin: 0 51px;
    clear: both;
}

.footfoot {
    height: 50px;
    width: 966px;

}

.navmenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.navmenu li {
    display: inline;
    width: 100px;
    height: 40px;
    padding: 12px;
}

.navmenu a {
    color: #fff;
    font-family: "OpenSans", sans-serif;
    font-size: 15px;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    text-decoration: none;
    display: inline-block;
    height: 20px;
    padding: 10px 20px;
}

.navmenu a:hover {
    background-image: url("/img/hover.png");
    border-left: solid #838383 1px;
    border-right: #838383 1px solid;
    margin-left: -1px;
    margin-right: -1px;
}

.footmenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.footmenu li {
    display: inline-block;
    padding: 12px;
}

.footmenu a {
    color: #2c2c2c;
    font-family: "OpenSans", sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 5px 20px;
}

.footmenu a:hover {
    text-decoration: underline;
}

.rightmenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.rightmenu a {
    color: #656363;
    font-family: "OpenSans", sans-serif;
    font-size: 15px;
    text-decoration: none;
    display: block;
    height: 20px;
    padding: 10px 20px;
    border-top: solid #c7c7c7 1px;
    margin-top: -1px;
}

.rightmenu a:hover {
    background-image: url("/img/rmhover.png");
    text-indent: 15px;
}

.copyright {
    float: right;
    color: #2c2c2c;
    font-family: "Times New Roman";
    font-size: 15px;
    margin-right: 38px;
    margin-top: 13px;
}