@import url("reset.css");

body {
    background-image: url("../img/small/backgrounds/body.png");
    color: #000000;
    font-family: Arial, "Times New Roman", "Trebuchet MS";
    font-size: 12px;
}

#container {
    background: #000000;
    margin: 30px auto;
    width: 900px;
    height: 1000px;
}

#header {
    background: #838283;
    height: 200px;
    width: 900px;
}

#navigation {
    background: #a2a2a2;
    width: 900px;
    height: 20px;
}

#menu {
    background: #333333;
    width: 200px;
    height: 600px;
    float: left;
}

#content {
    background: #d2d0d2;
    width: 700px;
    height: 600px;
    float: right;
}

#footer {
    background: #838283;
    width: 900px;
    height: 120px;
}

.buttons a {
    display: block;
    width: 150px;
    height: 36px;
    background: url("../img/small/sprite/sprite.png");
    margin: 20px;
}
.blue a:hover {
    background-position: 0 -36px;
}
.blue a:active {
    background-position: 0 -72px;
}
